[2016-07-21 12:31] emrahkocaman opened #1 "Use "IMap.set" instead of "IMap#put" to prevent unnecessary deserialization"
An example https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat6/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L203

[2016-07-22 15:23] sertugkaya opened #2 "Serialization improvement for attributes field inside HazelcastSession"

[2016-08-10 09:13] noctarius opened #4 "Serialization exception when using Container Managed Security (Tomcat Realms)"
Environment:
Tomcat 8.0.20
hazelcast-all-3.6.4
hazelcast-tomcat8-sessionmanager-1.0
with „Container Managed Security” (Apache Tomcat Realm)

[code]

[2016-08-15 09:28] emrahkocaman commented on #1
Fixed by https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/3

[2016-08-15 09:28] #1 closed

[2016-08-24 19:40] nilskp opened #5 "Tomcat 6 dependency in 8 module"
It appears the core module depends on Tomcat 6, which has an `attributes` field in `org.apache.catalina.session.StandardSession`, but that field is gone in Tomcat 8, leading to this:
[code]

[2016-08-24 21:01] emrahkocaman commented on #5
Closing this issue as `attributes` field still exists in Tomcat 8.
http://grepcode.com/file/repo1.maven.org/maven2/org.apache.tomcat/tomcat-catalina/8.0.24/org/apache/catalina/session/StandardSession.java#StandardSession.0attributes

[2016-08-25 07:34] emrahkocaman commented on #5
Problem starts with Tomcat 8.0.35. Here is a similar problem.
https://github.com/magro/memcached-session-manager/commit/aa084dc1fe481101eac395654631abb1fd7e49d7

[2016-08-29 13:37] #5 closed

[2016-10-07 12:24] #4 closed

[2016-10-07 15:39] #2 closed

[2016-10-25 13:07] aravindvis opened #10 "Session Synchronization Fails - Older session is updated in failed-over request"
I am trying to implement a sticky session based load balancing across two Tomcat instances using the Hazelcast Tomcat Web Session Replication. For testing purposes, I have deployed the application on two different Tomcat instances and the load balancing is handled through Apache HTTPD (tried both mod_proxy and mod_jk). The jvmroute parameters and the mod-proxy settings are fine and the load balanc

[2016-10-27 09:17] guerrillalg opened #11 "Publish jars to Maven Repository"
Basically, we need to include those libs into our maven project, however they are not publichsed yet. Which is making some inconvenience. Are you planning to publish them to maven?

[2016-10-27 10:16] bilalyasar commented on #11
seems something go wrong with oss nexus release plugin. i have deployed again.
https://oss.sonatype.org/content/groups/staging/com/hazelcast/hazelcast-tomcat8-sessionmanager/1.0.3/
It is available under sonatype and It should be available in maven soon:
https://repo.maven.apache.org/maven2/com/hazelcast/hazelcast-tomcat8-sessionmanager/

[2016-10-27 10:49] guerrillalg commented on #11
OK, great then. Then it would be nice to put them to the docs.

[2016-10-27 10:49] #11 closed

[2016-11-03 05:06] emre-aydin commented on #10
@aravindvis
We have added tests for the failover scenario and manually tested as well. There seems to be no problems related to failover. Could you provide a test case or sample code to reproduce your issue?

[2017-01-03 10:25] emre-aydin opened #13 "Thread context ClassLoader change causes serialization problem"
When using client-server mode, if someone changes Thread's context ClassLoader, `HazelcastSessionManager` fails with serialization errors. We need to set the context ClassLoader to `WebAppClassLoader` before any serialization/deserialization occurs (similar to [this](https://github.com/apache/tomcat/blob/547ec0ce4a4a523f72c106046f2b3d4c4e853b4e/java/org/apache/catalina/session/FileStore.java#L227)

[2017-01-06 12:14] #13 closed

[2017-01-06 12:17] emre-aydin commented on #10
@aravindvis Closing the issue as we have not heard back from you. If you still have problems, feel free to re-open this issue.

[2017-01-06 12:17] #10 closed

[2017-01-25 17:40] Anya1001 opened #16 "Tomcat 8.5.x support for Hazelcast tomcat session manager"
Can't start Tomcat 8.5.11 or 8.5.4 with P2P Hazelcast tomcat session manager. Works on Tomcat 8.0.41.
Tomcat fails to start with errors:
25-Jan-2017 16:43:24.664 SEVERE [localhost-startStop-1] org.apache.tomcat.util.digester.Digester.startElement Begin event threw erro
r
 java.lang.NoClassDefFoundError: org/apache/catalina/util/LifecycleSupport
        at com.hazelcast.session.HazelcastSessionMana

[2017-02-15 15:54] mesutcelik commented on #16
Unfortunately, Tomcat 8.5 is not supported yet.
We would want to spend time on it in future but any contribution would be pretty much appreciated!

Thanks for heads up!

[2017-02-23 09:31] st0ne-dot-at commented on #16
just added a pull request: https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/17

[2017-02-23 14:24] Anya1001 opened #18 "Session data loss during failover"
During failover next faulty behavior was observed:
- Node 1 Session was created. SessionID AAA.node1 was assigned
- Session variable A with data 111 was created
- Node 1 was killed
- Node 2 shows session variable A with correct data and **same sessionID as before** (AAA.node1)
- Trying to add session variable B with data 222 -> ERROR
New sessionID is assigned (a bit too late) ex. AAA.node1 and ses

[2017-03-07 03:12] wellprado commented on #16
Hi guys,

 Some news about when this problem will be fixed ?

06-Mar-2017 23:58:56.986 SEVERE [alien1-startStop-1] org.apache.tomcat.util.digester.Digester.startElement Begin event threw error
 java.lang.NoClassDefFoundError: org/apache/catalina/util/LifecycleSupport
        at com.hazelcast.session.HazelcastSessionManager.<init>(HazelcastSessionManager.java:36)
        at sun.reflect.NativeConstr

[2017-03-07 04:10] emre-aydin commented on #16
Hi @wellprado
@st0ne-dot-at's PR has been merged, we will release the new version with Tomcat 8.5 support in a few days. I will update you when we release.

[2017-03-08 02:43] wellprado commented on #16
Hi @emre-aydin,

  It's a great news. I can't wait for that.
  Thank you very much for your dedication in this project fellas.

Any date hunch?

Regards

[2017-03-08 04:16] emre-aydin commented on #16
Hi @wellprado

We plan to release it today.

[2017-03-09 19:08] emre-aydin commented on #16
@wellprado @st0ne-dot-at @Anya1001
Version 1.1 is released. It has support for Tomcat 8.5.

[2017-03-09 19:08] #16 closed

[2017-03-09 21:08] wellprado commented on #16
Hi Emre,

 Thank you very much.

Where can I download this fix ?

Thank you

________________________________
De: Emre Aydın <notifications@github.com>
Enviado: quinta-feira, 9 de março de 2017 19:08:12
Para: hazelcast/hazelcast-tomcat-sessionmanager
Cc: Wellington Prado; Mention
Assunto: Re: [hazelcast/hazelcast-tomcat-sessionmanager] Tomcat 8.5.x support for Hazelcast tomcat session manager (#16

[2017-03-10 05:21] emre-aydin commented on #16
You can download it from here:
https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/releases/tag/v1.1

On Fri, Mar 10, 2017 at 12:08 AM, Wellington Prado <notifications@github.com

[2017-03-22 07:05] markvr opened #19 "Default session timeout is 30sec (not 30min)"
On Tomcat 85 (at least, not tried the others) there is a mismatch between seconds and minutes in the session timeouts.

[HazelcastSessionManager contains](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat85/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L171):
`session.setMaxInactiveInterval(getContext().getSessionTimeout());`

However `getContext().

[2017-03-22 11:21] markvr commented on #19
See PR #20

[2017-04-10 07:35] emre-aydin commented on #18
Hi @Anya1001

Which version of Tomcat and which version of Hazelcast Tomcat Session Manager are you using? Can you also share the following please?

* The exact error message along with its stacktrace
* Your Tomcat configuration, specifically the parts you configure Hazelcast Tomcat Session Manager

[2017-05-09 06:59] #19 closed

[2017-06-17 16:16] wellprado opened #25 "com.hazelcast.session.HazelcastSessionManager.commit Thread name:ajp-nio-8009-exec-X commited key:null #"
Hi guys,

I did a long search but unfortunately I did not find anything and I do not know if it can be a problem or configuration.

Everything seems to be work normal, session replication and so on but, every time a Session is created in tomcat, the message below is written in the log ...

[code]

And each page the user navigates, the message:
`com.hazelcast.session.HazelcastSessionManager.commit

[2017-06-19 06:38] emre-aydin commented on #25
Hi @wellprado

That log message is a wrong message. It has been fixed in version `1.1.1` of `hazelcast-tomcat85-sessionmanager`. If you upgrade your version, it should not be printed anymore. In any case, it is not a problem on your side, just a wrong log message.

[2017-06-19 18:21] wellprado commented on #25
Hi @emre-aydin ,

  Thank you very much. I did exactly what you said and for now the message didn't appear any more!!!
  The only new situation after the upgrade to version 1.1.1 is the message below are logged many many time:

2017-06-19 15:09:44.035  INFO 20736 --- [ration.thread-0] c.i.o.SplitBrainMergeValidationOperation : [10.60.60.6]:5710 [hazelepp] [3.8] Ignoring join check from [10.60.60.5

[2017-07-19 14:56] jethroindc opened #27 "tomcat 6 commit log message always writes "commited key:null""
When saving the session back to the sessionMap in the tomcat6 flavor of com.hazelcast.session.HazelcastSessionManager, the log message writes the value of  hazelcastSession.getAttribute("key") which looks to be a relic from testing.  The other implementations for Tomcat7, Tomcat8 and Tomcat85 all log the expected value of the session id.  Will create a pull request and submit shortly.

[2017-07-20 06:29] emre-aydin commented on #27
Hi @jethroindc

The reason we have fixed this for other versions but not Tomcat 6 is that we will drop support for Tomcat 6 in the near future (because Tomcat 6 itself has reached EOL). Are you using Tomcat 6 and the plugin together? If so, what's the reason holding you back from upgrading to newer Tomcat versions? It's important for us to know.

Thanks.

[2017-07-20 06:32] emre-aydin commented on #18
@Anya1001  I'm closing the issue as we haven't heard back from you. Feel free to reopen the issue if you still have the problem.

[2017-07-20 06:32] #18 closed

[2017-07-20 11:59] emre-aydin commented on #25
@wellprado, it seems you have a slow network connection between the nodes and this causes a split brain. The log messages seem to indicate that. Are you still seeing the log messages? Are your nodes in the same data center? Does your application function normally?

[2017-07-20 13:11] wellprado commented on #25
Hi, @emre-aydin ,

   The nodes are in  virtual machine in the same Physical host (10Gbit network ).
   This messages are intermittent. As we stopped the nodes in very rare case, I don't know what to say about the frequency. I will plain to reboot them asap and I after that I will put the information here again.

Thank you

[2017-07-20 21:04] jethroindc commented on #27
We are using Tomcat6 and the plugin.  We're working on getting to a more
modern version of Tomcat but will  probably be another 6 months before we
can move.  We're currently running our website using OpenText portal and
WEM and it's a big lift to get from one version to the next, hence our
outdated Tomcat.

On Thu, Jul 20, 2017 at 2:29 AM, Emre Aydın <notifications@github.com>
wrote:

[2017-07-24 11:51] #27 closed

[2017-07-24 16:14] aminweb007 opened #29 "Tomcat 8.5.16 Error while starting"
I followed the steps to run hazelcast with my tomcat 8.5.16 in P2P mode, once I changed server.xml, tomcat doesn't start anymore

My configue :
[code]

PS : with "DeltaManager", tomcat cluster works.

The error I get is :

[code]

[2017-07-26 07:12] asdbll commented on #29
Hi @aminweb007 ,
You should put the `<Manager>` element into the `$CATALINA_HOME$/conf/context.xml`file.

[2017-07-26 14:41] aminweb007 commented on #29
Thanks @asdbll it works :)

[2017-07-26 17:18] mesutcelik commented on #29
Hi @aminweb007 ,
very good to see it is working!

[2017-07-26 17:18] #29 closed

[2017-08-14 09:46] stojsavljevic opened #30 "Spring Boot support"
Hi,

Is it possible to use this project together with Spring Boot and Java configuration?
If so, can you please provide a sample or instructions on how to configure it?

Thanks.

[2017-09-20 11:55] yongschoi opened #31 "Session Synchronization Fails"
The same phenomenon occurs with the following issues.
https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/issues/10

In my case, Apache(1EA) - ajp - tomcat(4EA) with hazelcast-tomcat-sessionmanager.

If you click after 2 or 3 seconds after Tomcat is shut down, it works normally.
If you click on Tomcat at the time of shut down, the session ID is changed and session clustering does not work

[2017-11-08 17:18] mrtinkz commented on #31
I guess, we are in the same boat, I asked a similar question on stackoverflow few weeks back. But I am stuck in the same place.

[2017-11-16 08:36] emre-aydin commented on #31
@mrtinkz are you also experiencing the issue when you try immediately after the node goes down, and not experiencing it if you try 2-3 seconds later as @yongschoi does?

[2017-11-16 14:22] emre-aydin commented on #31
@yongschoi @mrtinkz I have just tried failover with Apache 2.4 and Tomcat 8.5 - it works. I have also created a docker compose template, you can see it in this branch on my fork: https://github.com/emre-aydin/hazelcast-docker-samples/tree/httpd/manager-based-session-replication/httpd

Please note the `jvmRoute` parameter in these two lines:
https://github.com/emre-aydin/hazelcast-docker-samples/bl

[2017-11-17 06:58] yongschoi commented on #31
Dear Emre Aydin

Thank you for your mail.

In my case,
. Tomcat / server.xml : &lt;Engine name="Catalina" defaultHost="localhost" jvmRoute="worker1"&gt;
. Apache / workers.properties : worker.worker1.type=ajp13

There is no problem with the configuration. I think.

Session Synchronization Fails (#31) issues have been resolved with the following settings.
. Tomcat / context.xml : &lt;Manager classN

[2017-11-17 07:57] emre-aydin commented on #31
@yongschoi `deferredWrite` might explain what was happening in the first scenario described in your first message. When `deferredWrite` is enabled, the session values are not updated in the cluster until the request is completely processed by Tomcat. If the server goes down before the valve is executed, session data will be lost. If losing session data occasionally in a crash scenario (due to this

[2017-11-17 08:28] yongschoi commented on #31
Yes, that's right.
Although a cluster goes down and up back again, Application Server(Tomcat) can not connect to cluster.

This is an additional suggestion.
If a cluster goes up, Tomcat connect to a cluster without restart.

Thanks in advance.
블로그서명주변인 블로그
나는요....
-----Original Message-----
From: "Emre Aydın"&lt;notifications@github.com&gt;
To: "hazelcast/hazelcast-tomcat-sessionmanager"&lt;hazelc

[2017-11-17 09:50] emre-aydin commented on #31
@yongschoi,

You can increase the `connection-attempt-limit` for the client. This way, it will connect to the cluster when it's up again.

Default value of it is `2`. If you set it to `0`, the client will try to reconnect back to the cluster forever. See [this section in the README](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager#deploying-client-server-for-tomcat) which explains how

[2017-11-17 14:45] bormarek opened #32 "configuration problem"
SEVERE: Error while connecting to cluster!
java.lang.IllegalStateException: Unable to connect to any address in the config!

i add

        <cluster-members>
            <address>cacheserver-dev-3.atm:5701</address>
            <address>cacheserver-dev-3.atm:5702</address>
        </cluster-members>

into hazelcast.xml and put it in bin/

but nothing happen.

Any sugesstions?

[2017-11-17 16:13] yongschoi commented on #31
Great !

Thanks for your help.-----Original Message-----
From: "Emre Aydın"&lt;notifications@github.com&gt;
To: "hazelcast/hazelcast-tomcat-sessionmanager"&lt;hazelcast-tomcat-sessionmanager@noreply.github.com&gt;;
Cc: "yongschoi"&lt;yongschoi@naver.com&gt;; "Mention"&lt;mention@noreply.github.com&gt;;
Sent: 2017-11-17 (금) 18:50:29
Subject: Re: [hazelcast/hazelcast-tomcat-sessionmanager] Session S

[2017-11-20 12:28] emre-aydin commented on #31
@yongschoi Glad to hear your problem is resolved, I'm closing the issue. @mrtinkz can you please create another issue with your configuration and any relevant info that will help us solve your problem?

[2017-11-20 12:28] #31 closed

[2017-11-20 12:29] emre-aydin commented on #25
@wellprado do you have any updates for us?

[2017-11-20 12:33] emre-aydin commented on #32
@bormarek can you please provide more information about your setup? Which version are you using? Can you share your Tomcat configuration?

[2017-11-22 14:42] bergander opened #33 "Deserialization problem when doing aggregate on a map"
I've got a problem with deserialization when doing aggregate on a map in a P2P configuration.

`map.aggregate(Supplier.fromPredicate(filter::test), Aggregations.count());`

This will throw an `HazelcastSerializationException` caused by a `ClassNotFoundException`. The problem is similar to this issue: https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/issues/13

The hazelcast thread doing

[2017-11-24 09:40] nikoncode opened #34 "Concurrent access"
I have a lot of concurrent calls inside my application and I receive the following logs:
[code]

As you can see I always have the same session id, but for some reason session manager cannot find it.

I think the root cause is the following code:
[code]

Can somebody explain me why we cannot just execute set without remove to prevent concurrency issue?

If it's required how I can prevent problem li

[2017-11-24 14:12] nikoncode opened #35 "Why session manager doesn't use replicated map?"
In my project we use embedded instances of hazelcast, as I understand from codebase session manager uses regular distributed map for session replication, but what if I execute rolling restart of my application (with embedded hazelcast)?

I expect session pick up on any available instance, but session manager uses distributed map. It leads to session data lost.

[2017-11-24 21:19] mesutcelik commented on #35
Hi @nikoncode
`ReplicatedMap` is completely different data structure than Hazelcast Distributed Map, named `IMap`.

Distributed Map is partitioned data structure whereas ReplicatedMap does replicate all data to other members. Therefore, we have preferred to use Distributed Map because of the Memory consumption.

If you want to rolling restart without losing data, we suggest to restart nodes one by

[2017-11-24 21:19] #35 closed

[2017-11-24 21:50] mesutcelik commented on #30
Hi @stojsavljevic,

There is unfortunately no spring boot specific example but here is how you can [configure](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat85/src/test/java/com/hazelcast/session/Tomcat85Configurator.java#L26) embedded Tomcat in our test suite.

I hope that helps.

[2017-11-24 21:50] #30 closed

[2017-11-28 15:46] nikoncode commented on #34
Can we use `set` without remove or `put` instead of `remove` & `set` operation?

[2017-12-08 16:04] bkoehm opened #36 "tomcat-core artifacts missing from Maven Central"
http://central.maven.org/maven2/com/hazelcast/hazelcast-tomcat-sessionmanager/1.1.2/ is present, but the tomcat-core dependencies are missing in central.maven.org.

[2017-12-08 16:50] mesutcelik commented on #36
Hi @bkoehm ,
We do create uberJar including `tomcat-core` so those jars would work fine. Have you had any issue?

[2017-12-11 09:47] bergander commented on #33
One way of solving the problem would be to create the hazelcast instance in the webapp's `contextInitialized(...)` and then use that instance in the `HazelcastSessionManger`. Then Hazelcast will have the correct classloader and everything will work just fine. Just add something like this to `HazelcastSessionManager.startInternal()`

[code]

[2018-01-04 09:22] emre-aydin commented on #33
@bergander can you achieve what you described in your last comment by setting an instance name for your `Config` (possibly by setting it in your `hazelcast.xml`)? [This line](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/07b7fa511a8b41a71fdc3e3e1fccd615160c953c/tomcat8/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L97) should use the existing Hazelcast instan

[2018-01-08 10:34] bergander commented on #33
If I try that I get an exception in Hazelcast:
`com.hazelcast.instance.NodeExtensionFactory.null DefaultNodeExtension class has been loaded by two different class-loaders. Are you running Hazelcast in an OSGi environment? If so, set the bundle class-loader in the Config using the setClassloader() method`

So I still have a classloader issue with that solution. I can only get around the problem by

[2018-01-08 11:36] emre-aydin commented on #33
@bergander if you send a pull request for your patch, we can review and merge it if there's no problems with it.

[2018-01-08 12:52] bergander commented on #33
Pull request created: https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/37

[2018-01-08 12:53] emre-aydin commented on #33
Thanks for the PR @bergander, I will review it as soon as possible.

[2018-01-18 02:15] mrtinkz commented on #31
My apologies for delayed response. I figured the configuration needed both jsessionid and the hazelcast.sessionid. The session replication works great and I do not see any other reason to create a new issues. Thanks for helping me out.

[2018-01-26 18:26] alparslanavci opened #38 "Custom serialization is not supported on Session objects"
Right now, it is a requirement that the session objects have to be `Serializable`. Other custom serializers should also be supported.

Please see the following community request as a sponsor: https://stackoverflow.com/questions/48428131/hazelcast-with-global-serializer-kryo-there-is-no-suitable-de-serializer-for

[2018-03-08 11:26] bergander opened #39 "Sessions don't expire!"
If using sticky sessions and a node in the cluster fails, all sessions on that failing node will **not** expire unless the client makes a new request handled by another node.

The problem is that the `findSessions()` method is not implemented in `HazelcastSessionManager` which the expire thread in tomcat depends on. So it's falling back to the one implemented in `ManagerBase` which only returns th

[2018-03-08 11:47] emre-aydin commented on #39
That looks like a real problem. I think your second solution is better. I'm not sure how frequently this method gets called but still it's not much more complicated than the first solution, so it should be OK.

[2018-03-15 14:20] bergander commented on #39
@emre-aydin I've created a pull request for you to review. Seems to work fine in my tests.

[2018-03-27 04:44] #39 closed

[2018-04-10 17:17] gokhanoner opened #42 "HazelcastSessionManager.findSession can return null for an existing session under load"
I believe the issue is in this method: https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat8/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L226

from `findSession` method

[code]

After checking `sessionMap`, if the session is present, first remove & then set called. After `remove` & before `set` call, if you call the same method, you can get `null` fr

[2018-04-20 04:57] gokhanoner commented on #42
@edwardsmatt As you pointed out, the main with issue replacing `remove` and `set` with `sessionMap.put` is that there's an EntryListener & it counts on eviction event. I'll also check what can be done. Your solution for EntryListener seems promising. I'll update the ticket soon.

[2018-04-24 15:53] bergander opened #43 "Excessive logging on info level"
Tomcat uses info as default logging level. And in `HazelcastSessionManager ` there are a couple of messages which should be on debug level, especially in the `findSession` method which is heavily used.

I propose to switch those log messages to debug level. Otherwise everyone needs to suppress them in the tomcat config. It's no good for performance to log messages on each request and several thous

[2018-04-25 12:17] bergander commented on #43
@emre-aydin Thanks for the quick merge!

I missed one of the info-log messages so I created a new pull request for that one: #45

[2018-04-26 12:09] emre-aydin commented on #43
Handled by https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/44 and https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/45

[2018-04-26 12:09] #43 closed

[2018-04-27 13:27] mesutcelik commented on #33
fixed by https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/37

[2018-04-27 13:27] #33 closed

[2018-04-27 13:33] mesutcelik commented on #36
closing this one. please send your further questions to https://groups.google.com/forum/#!forum/hazelcast

[2018-04-27 13:35] mesutcelik commented on #34
similar to #42

[2018-04-27 13:45] mesutcelik opened #46 "Hazelcast Enabled Tomcat Docker Image"
We can release a docker images where we pre-configure a tomcat server with hazelcast as session replication provider. That would be useful for cloud native applications with caching requirements.

[2018-04-27 13:47] mesutcelik commented on #32
closing this one. please feel free to reopen if you have more questions.

[2018-04-27 13:47] #32 closed

[2018-04-27 13:48] mesutcelik commented on #25
Hi @wellprado ,
do you have any update?

[2018-04-30 12:37] emre-aydin commented on #25
Closing the issue as we didn't hear back from you. Feel free to re-open if you still have the same issue.

[2018-04-30 12:37] #25 closed

[2018-04-30 20:53] stephan2012 opened #47 "Hazelcast client for session replication conflicts with webapp"
At the moment we're running Tomcat 8.5 with built-in session replication. Our webapps include a Hazelcast client for application related caching. This all works without issues.

Now I adjusted the Tomcat config to use Hazelcast as session store and for replication. Unfortunately this seems to conflict with our apps. I already assured that webapp and Tomcat use the same Hazelcast version jars.

Thi

[2018-04-30 20:57] stephan2012 commented on #47
Hazelcast client config for hazelcast-tomcat-sessionmanager:

[code]

[2018-06-11 04:19] edwardsmatt opened #48 "Session Access timestamps are inconsistent when using non sticky sessions"
When using non-sticky sessions, the `lastAccessedTime` and `thisAccessedTime` may be inconsistent between nodes.

See #49

[2018-06-11 06:19] vir2610 commented on #31
@mrtinkz , can you please show me high level configuration because my application doesn't even create jsessionid after integrating with hazelcast clustering.

[2018-06-18 05:31] edwardsmatt commented on #42
Hi @gokhanoner,
I've implemented a test version using the map `entryAdded` and `entryUpdated` `EntryListener` events as discussed, however what I have seen is that when a session contains an object that is not on the tomcat classpath (i.e. a custom object on the application classpath), we end up with a ClassNotFoundException when trying to deserialize the object contained within the `EntryEvent`.

[2018-06-18 09:11] anton-johansson commented on #36
Is the uberJar available from Maven Central? One could think that [this](http://mvnrepository.com/artifact/com.hazelcast/hazelcast-tomcat8-sessionmanager/1.1.3) is the uberJar for Tomcat 8, but it is not. It also has a dependency (tomcat-core) which does not exist, which can cause some really unnecessary headache for users (us). I believe this is the same issue that @bkoehm had. Why is the broken

[2018-06-18 09:19] emre-aydin commented on #36
Hi @anton-johansson

The artifact is not broken. This is not an uberJar. As you've said, it has a dependency on `tomcat-core`. Since the JARs are to be put under Tomcat directory manually, we mostly focused on putting it under GitHub releases tab. You can download `tomcat-core` from the GitHub releases tab (https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/releases).

I agree with makin

[2018-06-18 09:31] emre-aydin commented on #36
@anton-johansson I think I understand the cause of confusion better now. The artifact is indeed an uber JAR but its `pom.xml` is incorrect as it lists `tomcat-core` as one of its dependencies. So the JAR is OK, but the `pom.xml` is incorrect.

[2018-06-18 10:00] anton-johansson commented on #36
Allright. Since you can't overwrite artifacts in Central, I assume we'll wait for the next release. :)

An alternative would be to deploy empty `tomcat-core` artifacts, one for each "broken" version.

[2018-06-18 10:03] emre-aydin commented on #36
@mesutcelik suggested that you might try excluding the `tomcat-core` dependency from `hazelcast-tomcat-session-manager` dep. in your `pom.xml` until then.

[2018-06-18 10:04] anton-johansson commented on #36
Ahh, of course, that should work. Thanks!

[2018-09-24 06:38] edwardsmatt opened #51 "ClassNotFoundException can occur when using parallel deployments"
**Background:**
• Tomcat Parallel Deployments are in use
• The session object contains a custom data type only available on the web-application class-path
• Requests are occurring whilst the application is being redeployed
• Hazelcast is configured to use non-sticky sessions and deferred write.

**Description:**
When using parallel deployments whilst an application is processing requests, a new de

[2018-10-17 07:39] #51 closed

[2018-11-14 05:15] tortarga opened #53 "NPE when starting Hazelcast Client in embedded Tomcat 8"
NPE when starting Hazelcast Client in embedded Tomcat 8

Embedded Tomcat Version: 8.0.30
Hazelcast version:  3.1.1
HazelcastSessionManager version: hazelcast-tomcat8-sessionmanager-1.1.3

Running embedded tomcat and setting hazelcast via:

[code]

Results in following NPE:

[code]

After running through debugger in IntelliJ:

When in client mode HazelcastSessionManager attempts to retrieve client

[2018-12-20 06:49] jzwadowski opened #54 "`Principal` is not replicated"
Tomcat store Principal in the session object. Although it is said in StandardSession:

     * The authenticated Principal associated with this session, if any.
     * <b>IMPLEMENTATION NOTE:</b>  This object is <i>not</i> saved and
     * restored across session serializations!
     */
    protected transient Principal principal = null;

but Request method `getUserPrincipal` or `getRemoteUser` tak

[2019-01-16 15:24] anton-johansson opened #55 "ClassNotFoundException when deserializing session"
I'm running Tomcat 8 within a container in a Kubernetes cluster.

Under `/usr/local/tomcat/lib/` I have the following (other than the standard JARs):
- `hazelcast-3.11.1.jar`
- `hazelcast-kubernetes-1.3.1.jar`
- `hazelcast-tomcat8-sessionmanager-1.1.3.jar`

Under `/usr/local/tomcat/webapps/ROOT/WEB-INF/lib/` I have the dependencies of my webapp.

I'm using [NGINX Ingress Controller for Kubernetes]

[2019-01-17 13:16] mesutcelik commented on #55
Hi @anton-johansson ,
Are you using client/server mode or P2P?
As far as I see, we fixed similar issue for client-server mode https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/issues/13

Can you please try to deploy hazelcast cluster into your k8s cluster and switch to client-server mode to see if you are experiencing any problem. You can simply install hazelcast via [hazelcast helm cha

[2019-01-17 13:19] anton-johansson commented on #55
Hi! Sorry I left that information out. I'm using P2P. Hazelcast is running within the application itself.

Would it be any different using Client/Server? I'm sure the deserialization process is the same either way?

Hm, how do I set the `WebAppClassLoader`? I'd have to do that programmatically, right? Not possible using a pure `hazelcast.xml` configuration?

[2019-01-17 13:37] anton-johansson commented on #55
Hmm, that's interesting. I'll see if I can fix the issue and maybe submit a pull request.

[2019-01-17 15:41] anton-johansson commented on #55
I've started working on a PR, see above. However, I'm having some issues. Care to take a look?

[2019-01-17 18:25] IlyaKachnov opened #57 "Set hazelcast session custom attribute"
Hi, is it possible to set an attribute to hazelcast session, smth like that:
[code]
Because when I'm trying to set an attribute I got `NullPointerException`
[code]

[2019-01-19 07:55] gokhanoner commented on #47
@stephan2012 do you want to use the same client for both session or application or different? Also, can you confirm if your application is a Spring or Spring-Boot application & share the Hazelcast Client bean config?

[2019-01-20 07:56] stephan2012 commented on #47
@gokhanoner: Preferably the client is different for session and application management because session replication is handled by ops team while application data is handled by developers. Indeed, it is a Spring application.

Unfortunately I cannot contribute anything anymore to this issue because I have left the team and company in Summer, 2018. In case it does not make sense to continue on this is

[2019-02-27 11:12] helge79 commented on #55
We also experienced this issue and solved it with #33, i.e. we initialize an own instance in a `ServletContextListener` and hand this over to `HazelcastSessionManager`.

@anton-johansson You mentioned in #56 your solution does not work. I am not quite familiar of the lifecycle events in Tomcat but to me it looks like [P2PLifecycleListener](https://github.com/hazelcast/hazelcast-tomcat-sessionmanag

[2019-03-08 15:17] #55 closed

[2019-03-14 15:45] alparslanavci commented on #42
@edwardsmatt thank you for providing a detailed reproduce case. It helped a lot. I send a PR for the fix of this issue, and tested it with your case. Please see #61.

[2019-03-15 09:46] #57 closed

[2019-03-18 12:40] #42 closed

[2019-03-18 12:41] alparslanavci commented on #34
Fixed by #61.

[2019-03-18 12:41] #34 closed

[2019-03-18 12:53] alparslanavci commented on #47
@stephan2012 I tried to reproduce your issue, but couldn't manage it. It might be helpful if we have the Hazelcast client version and configuration on application caching side. But you stated you left the team, then I am closing this issue.

[2019-03-18 12:53] #47 closed

[2019-06-25 04:03] Rainfords commented on #55
When will this fix be in the next release? v1.14, I built a snapshot from master can it fixed my issue!

[2019-07-17 12:05] ajkarloss commented on #29
I am new to Tomcat and related things. Could you explain more about <Manager> element? I see the context.xml file. What exactly should I do?

[2019-08-07 12:32] ghkarmseveer commented on #42
Hi,

I've just tried using this fix (by compiling master locally) but it does not seem to fix it - I still get sessions not being found under high load.

I think the fix does not lock enough, the sessionMap.get needs to be in a lock too:

[code]

with that in place I can simulate a high load and get no lost sessions

[2019-09-25 17:40] mesutcelik opened #65 "Move LifecycleListener Logic to Hazelcast Session Manager"
P2PLifecycleListener/ClientServerLifecycleListener are responsible for some initializations which makes Hazelcast Deployments complex and error-prone.

The idea is to move this logic into HazelcastSessionManager to encapsulate all SessionManager related logic in one place.

related #53

[2019-09-27 14:12] #53 closed

[2019-10-17 17:14] mesutcelik opened #67 "Async Put when deferredWrite is enabled"
IMap.putAsync can be used in session sync stage as deferredWrite is enabled by default. When deferredWrite is disabled then IMap.put will be the option.

[2019-10-25 09:09] alparslanavci commented on #42
@ghkarmseveer can you please provide a reproducer for your case? It would be really helpful for us to fix if any issues remain.

[2019-10-25 14:42] ghkarmseveer commented on #42
Hi,

I've shamelessly forked @edwardsmatt exampleansd updated it to tomcat 8.5 . locally I get failures with the 1.1.4 release

https://github.com/ghkarmseveer/hazelcast-tomcat-sessionmanager-42-example

No I'm not using sticky sessions

[2019-10-28 10:13] #48 closed

[2019-11-05 17:43] alparslanavci commented on #42
@ghkarmseveer, in your example, you are trying to download `hazelcast-tomcat85-sessionmanager-1.1.4.jar` from secure Github releases page using `curl` command. It will not allow to download from a secure page directly without adding certificates. Can you please try to download from maven repo instead? See the example below:

[code]

I run your test with using 1.1.4 and don't face any issues. Pleas

[2019-11-06 11:57] ghkarmseveer commented on #42
@alparslanavci sorry about the download link but still fails for me locally:

![image](https://user-images.githubusercontent.com/25149612/68296457-92690900-008c-11ea-86e1-4baf8c41885a.png)

[2019-11-12 11:47] #38 closed

[2019-11-25 13:57] helge79 opened #70 "Why is Tomcat 7 no longer supported?"
I wanted to download the latest release 1.1.4 for Tomcat 7 and found none. From the commit history I saw it was disabled by #64 because tests failed. Unfortunately I do not see any more details.

For me the current snapshot causes no issues - see [my changes](https://github.com/helge79/hazelcast-tomcat-sessionmanager/commit/c62347b219ce3d44c8ff29ad8fd0e3813367d8a4) for details. The same applies to

[2019-11-25 15:20] alparslanavci commented on #70
@helge79, we were working on some tests on our side, because of that we haven't released  `hazelcast-tomcat7-sessionmanager-1.1.4` yet. After the tests are completed, we will release it.

However, the support for Tomcat 6 will be dropped and we will update the readme accordingly.

[2019-11-26 11:53] alparslanavci commented on #70
@helge79, `hazelcast-tomcat7-sessionmanager-1.1.4` is now released. The artifacts are available at the [release page](https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/releases/tag/v1.1.4).

[2019-11-26 11:53] #70 closed

[2019-11-27 11:01] ghkarmseveer opened #72 "Too many sessions gives 'java.lang.IllegalStateException: null"
When the maxActiveSessions limit is reached on tomcat 8.5 we get

this is because the wrong String reference is used, standardManager.createSession.ise, should be managerBase.createSession.ise

https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/1eb0d79a1b680ea3321b115a94efdb1c803064ca/tomcat85/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L348

[2019-11-27 11:06] ghkarmseveer commented on #72
also appears wrong in tomcat9 version (possibly 8 and 7 too)

[2019-11-29 11:09] alparslanavci commented on #72
Hi @ghkarmseveer, do you have any reproducer for this issue? If so, can you please share it?

[2019-12-04 11:51] mesutcelik opened #73 "Simplify Tomcat Session Manager with Spring-Boot"
Initial prototype is located [here](https://github.com/alparslanavci/hazelcast-tomcat-sessionmanager/commit/d7a1774b94969addec9b3ee3b39afb23c6614788).

Tomcat Session Manager should be purely operational so adding it to the classpath should easily switch on/off session replication.

[2019-12-23 13:28] alparslanavci commented on #70
Fixed by #71

[2020-01-20 15:24] helge79 opened #74 "Still classloading issues"
I tried the latest version with Tomcat 7 and am experiencing `ClassCastException`. To illustrate the issue

ClassCastException

[2020-01-23 11:27] bakedzebra opened #75 "JSP Session Issues"
Currently I`m facing an issue with JSP beans property management. Please follow the source code below:

[code]

Previously, all the JSPs were handled by Oracle Weblogic but now I had to migrate the project to Spring Boot with Embedded Tomcat and Hazelcast Session Management. So the issue occurs if we do smth like this:

[code]

After the redirect is made I`m trying to reach the username or list va

[2020-01-23 11:29] nfrankel commented on #75
Sorry, could you please tell how is that related to Hazelcast?

[2020-01-23 11:51] bakedzebra commented on #75
I`m just trying to guess if it`s related or not.
I had some thoughts about the Hazelcast because I fixed a bug that was caused by non-serializable entity that has been set to a session in the JSP file as it`s attribute. Then I`ve received a Hazelcast exception that was related to Spring`s MapSession. So on my thougths - Hazelcast manages sessions and their attributes as well.

[2020-01-23 11:53] bakedzebra commented on #75
Could I also ask a question: Is it possible to use hazelcast-tomcat-sessionmanager for the Embedded Tomcat and Hazelcast Instances that are launched with Spring Boot?

[2020-01-23 11:54] nfrankel commented on #75
Hazelcast doesn't manage session _per se_, but copy session data from one Tomcat instance to another, if they belong to the same cluster.

To make sure this is Hazelcast-related, please use a single node. If the problem is still there, it's completely unrelated.

[2020-01-23 11:59] nfrankel commented on #75
This class shows how to use embedded Tomcat with Hazelcast via Spring Boot:

https://github.com/hazelcast/microservices-performance/blob/master/src/main/java/com/hazelcast/imdg/microservices/HazelcastDemo.java

[2020-01-23 13:55] bakedzebra commented on #75
Thanks! I think I`ll close the issue.

[2020-01-23 13:55] #75 closed

[2020-02-04 10:29] Spentas opened #78 "Unable to deserialize session after adding CrawlerSessionManagerValve valve into server.xml"
It works fine before adding [CrawlerSessionManager](https://tomcat.apache.org/tomcat-8.0-doc/config/valve.html#Crawler_Session_Manager_Valve)

` com.hazelcast.session.HazelcastSession.deserializeMap Unable to deserialize object in session
 com.hazelcast.nio.serialization.HazelcastSerializationException: There is no suitable de-serializer for type 1633907817. This exception is likely to be caused b

[2020-02-13 11:37] alparslanavci commented on #78
Hi @Spentas, this exception is thrown when your session object is not configured correctly for serialization on both Hazelcast server and client side. Can you please elaborate more on your case? Was it working fine and then started throwing this exception after some change?

[2020-02-27 12:14] enozcan opened #80 "Test failure: Tomcat85SessionExpireTest"
[code]

Jenkins Log: http://jenkins.hazelcast.com/job/TomcatSessionManager-Master/409/console

[2020-02-28 15:51] dadde1 commented on #29
I have the same problem on tomcat 9. I hope you can help me!
server.xml:
[code]

context.xml:
[code]

I get the following error on tomcat9:
[code]

[2020-02-28 16:35] alparslanavci commented on #29
Hi @dadde1, can you please remove `<Manager className="com.hazelcast.session.HazelcastSessionManager" />` tag from your `server.xml` and try it again?

[2020-02-28 16:53] dadde1 commented on #29
Hi alparslanavci, thanks for your reply.
Now it works well
catalina.out:
[code]

[2020-04-17 15:37] sertugkaya opened #83 "HazelcastSessionManager.findSessions can lead to OOME"
HazelcastSessionManager.findSessions is used by Tomcat's session expiration task, and it is calling IMap.getAll().values() under the hood.
This can cause an OOME on caller side if the sessionMap is large enough. If our investigation of this method's usage does not indicate any reason to keep this implementation, we can improve this behavior.
[code]
![image001](https://user-images.githubusercontent

[2020-04-21 09:09] #36 closed

[2020-04-22 09:51] Spentas commented on #78
it works if I remove the [CrawlerSessionManager](https://tomcat.apache.org/tomcat-8.0-doc/config/valve.html#Crawler_Session_Manager_Valve) , the session is serializable

[2020-04-22 10:00] Spentas opened #84 "Cuncurrent calls lead to no session found"
I understand there is a fix for the concurrent calls but it still persists, however less frequent

tomcat85-sessionmanager:1.1.5
tomcat:8.5
hazelcast:3.9

[code]

[2020-04-22 19:31] bluegodmsk opened #85 "Hazelcast does not startup with tomcat9 sessionmanager"
Currently we are using the Tomcat8.5 with the tomcat85-sessionamanger-1.1.3.jar and hazelcast-all-3.12.1. Everything runs smoothly and the Hazelcast cluster is formed on Tomcat startup. Session replication works.

Now we need to upgrade the Tomcat-9.0.33. So, I have tried bringing up the hazelcast cache with the following combinations of tomcat9-sessionmanager and hazelcast-all jars. However, the

[2020-04-27 17:36] #83 closed

[2020-04-30 11:10] #72 closed

[2020-05-01 09:45] alparslanavci commented on #85
Hi @bluegodmsk, I tried both combinations below for P2P deployment and Hazelcast member is started in both setups by using Tomcat-9.0.33.

[code]

Can you please confirm that there are no other configuration changes other than the lib changes mentioned?

[2020-05-05 10:26] alparslanavci commented on #74
Hi @helge79, I checked this issue, and you are correct that it is not working as expected when you deploy multiple web applications on a single Tomcat container. In coming versions, there will be some improvements in Hazelcast's dynamic class loading, we are planning to use them to resolve this issue.

[2020-05-13 05:08] Spentas commented on #84
#42 related issue,
https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat8/src/main/java/com/hazelcast/session/HazelcastSessionManager.java#L206

`sessionMap.get` is not threadsafe, when  `remove` you still can read from the map despite `sessionMap.lock` leads to No Session Found

[2020-05-27 17:29] bluegodmsk commented on #85
Thanks for checking let me try again see if I can find more.

[2020-06-18 10:58] bergander opened #89 "sessionDestroyed is not called after a failover"
Due to the recent removal of the implementation of findSessions() method in HazelcastSessionManager, Tomcat will only expire local sessions.

So whenever a node has been shutdown the sessions created on that node will never be expired by Tomcat, only removed from the global session map by Hazelcast. And that means that the application won't get notified through the HttpSessionListener.sessionDestr

[2020-07-07 13:03] ycordier-pro opened #91 "Session manager in client only mode doesn't handle HZ client SHUTDOWN"
This issue is submitted after investigating some reconnection issue on the Hazelcast client as described here :
https://github.com/hazelcast/hazelcast/issues/17062

Since HZ 3.12, it seems that the client will not handle automatic reconnection whenever the cluster members are restarted with different IP addresses (always the case in the docker world).
In such a scenario, whenever a cluster member

[2020-07-08 09:01] alparslanavci commented on #91
Hi @ycordier-pro, thanks for the contribution. We would like to see your patch. It will be also good to keep an eye on https://github.com/hazelcast/hazelcast/issues/17062, we won't need to add anything on Tomcat Session Manager side if they fix it.

[2020-07-08 09:07] ycordier-pro commented on #91
I finished the patch but I have troubles with unit tests :(
They always fail with errors like "

[2020-07-08 09:13] ycordier-pro commented on #91
Thanks for your reply, I've finished the patch but I have troubles with the unit tests.
They are always failing with errors like:
[code]
So it's not a real unit test failure per say, it looks like some threads were still up at the end of the test, which causes some exception. Do you know if it's "normal" ?

As for the linked bug, I think that even if they fix the IP change issue, we can still alwa

[2020-07-08 10:02] alparslanavci commented on #91
Could you please share your patch as a `DRAFT` pull request? It'll make easier to check the error.

Hazelcast client has its own [reconnection mechanism](https://docs.hazelcast.org/docs/latest/manual/html-single/#java-client-connection-strategy) which can be used in these kind of regular shutdown scenarios. I believe it'll be much simpler to leave this to Hazelcast client. But if it doesn't suppor

[2020-07-09 10:28] ycordier-pro commented on #91
You can check my proposed patch/fix in the following repo:
https://github.com/ycordier-pro/hazelcast-tomcat-sessionmanager
(I created a new one since I was not authorized to create a branch on this one)

[2020-07-09 10:59] ycordier-pro commented on #91
As discussed I created a draft pull request here:
https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/pull/92

[2020-08-06 07:48] emillundstrm opened #93 "YAML configuration is parsed as XML (com.hazelcast.session.P2PLifecycleListener)"
The project README has a sample hazelcast.yaml file, which gives the impression that yaml is supported when using hazelcast 4. However, P2PLifecycleListener uses com.hazelcast.internal.config.ConfigLoader, which seems to always parse the config file as XML, giving this error on startup:

[code]

[2020-08-06 10:00] alparslanavci commented on #93
@emillundstrm, thanks for reporting this issue. It looks YAML configuration is missed when getting the configuration in both `P2PLifecycleListener` and `ClientServerLifecycleListener`. As a workaround, you can use `hazelcastInstanceName` attribute in `Manager` element in `context.xml`. It specifies an existing Hazelcast instance to use for session replication which you can configure using YAML.

[2020-08-24 11:03] ghkarmseveer commented on #84
as I mentioned in #42  I get sessions lost unless I also lock around the get

[2020-08-27 08:21] Spentas commented on #84
@ghkarmseveer Yes I did the same, my problem was that I had multiple instances of my app in the cluster and each instance could potentially ask for the session from hazelcast-server, so if one instance removes the session and the other tries to retrieve it, then there is a problem.

[2020-09-15 13:34] bianchi2 opened #95 "Question about sessions sharing in K8s"
I am using K8s hazelcast config, and my multiple instances of tomcat servers find each other, a cluster is created. I can also see that session are shared ok. However, there's one use case that fails for me. A new member does not seem to get sessions from existing members. So, for instance, when there are 2 replicas running, I log into my webapp, and then hit F5 to see that I am landing on differe

[2020-09-15 14:24] alparslanavci commented on #95
Hi @bianchi2, are you using non-sticky sessions?

[2020-09-15 16:12] bianchi2 commented on #95
Yes, default configs as per https://github.com/hazelcast/hazelcast-tomcat-sessionmanager#deploying-p2p-for-tomcat

[2020-09-16 09:30] alparslanavci commented on #95
Hi @bianchi2, I created a simple unit test and it looks it is working as expected. Please see it below:

[code]

Do you have any reproducer that you can share with us? Maybe I am missing a point.

[2020-10-08 09:53] jorditpuig opened #96 "Inconsistent sessionId in the first request after a failover"
I am not confident that this is really an issue so this is more of a question. When a failover happens with stickiness enabled, the first request of a session assigned to the server that failed (let `.host1`) is expected to have a suffix (i.e. _jvmRoute_) that will not match the _jvmRoute_ of the healthy host (let `.host2`). After digging a bit I have noticed that the _HazelcastSessionChangeValve_

[2020-10-08 10:19] alparslanavci commented on #96
Hi @jorditpuig, thanks for the detailed question. However, the jvmRoute is also updated on server side since `SessionManager#updateJvmRouteForSession` API is called in the `HazelcastSessionChangeValve`.

Did I miss anything on your question?

[2020-10-18 10:05] jorditpuig commented on #96
First of all, thanks a lot for your quick answer @alparslanavci! I was not able to dig in this issue till now.

The visible issue is that `HttpServletRequest#getSession` returns the old id. I believe that this indicates that somehow the "first after failover" request keeps in `Request#session` a reference to a stale session object that in fact has a session Id with the jvmRoute of the server that

[2020-10-26 11:49] chynten opened #98 "HttpSessionListener.sessionCreated calls twice"
`com.hazelcast.session.HazelcastSessionManager.createSession` has a call of `session.setId(newSessionId)` from class `org.apache.catalina.session.StandardSession`

`org.apache.catalina.session.StandardSession` internally calls `setId(id, true);` where true is notify. If notify is true then it `calls tellNew();` methodd.

`Now back to com.hazelcast.session.HazelcastSessionManager.createSession` aft

[2020-10-26 14:08] vivekvara commented on #73
This is quite a useful feature to quickly configure tomcat session manager.

[2020-11-04 09:58] alparslanavci commented on #98
Thanks for reporting this, it looks like a bug.

[2020-11-04 10:30] alparslanavci commented on #96
Thanks for the detailed reply @jorditpuig! It looks we can add an invalidation call at the end of the valve. I will check it and send a PR.

[2020-11-09 09:30] alparslanavci commented on #95
@bianchi2, do you have any updates? Are you still facing this issue?

[2020-11-09 09:38] bianchi2 commented on #95
@alparslanavci it was smth in the app itself. Thanks for your support.

[2020-11-09 09:38] #95 closed

[2020-11-09 10:20] alparslanavci commented on #89
Hi @bergander, when a node is shutdown Hazelcast promotes its sessions' backups to primary on the other nodes. Thus, the sessions are still available in the cluster. This means they are still valid and not expired.

Additionally, starting with v2.1, Hazelcast and Tomcat session expiration are separated and work independently. Please see the details here: https://github.com/hazelcast/hazelcast-tomc

[2020-11-09 10:35] bergander commented on #89
Yes, the sessions are still valid and not expired at the time one node is shutdown. But if no further activity is done on one session, then it will be expired in the future. And when that happens sessionDestroyed won't be called.

[2020-11-09 10:36] alparslanavci commented on #85
@bluegodmsk, do you have any updates about this issue?

[2020-11-09 10:39] alparslanavci commented on #89
Do we need to call sessionDestroyed? If no further activity is done on one session, they will be also expired by Tomcat itself because of the session timeout.

[2020-11-09 11:01] bergander commented on #89
Well, in my opinion it breaks the contract of a HttpSessionListener if some sessions are skipped calling sessionDestroyed. And on a more practical note, in our case we do some clean up and statistics handling in our implementation of sessionDestroyed.

And Tomcat will only call sessionDestroyed on the local sessions, but it can't do that if it's shutdown before the session expires.

I can work aro

[2020-11-09 14:15] #80 closed

[2020-11-09 14:18] alparslanavci commented on #78
@Spentas I couldn't reproduce your issue on my local. Could you please provide a reproducer case?

[2020-11-11 10:19] alparslanavci commented on #89
We decided to close this issue after researching some other implementations. Also, sessionDestroyed is always called when a session expires on local.

[2020-11-11 10:19] #89 closed

[2020-11-12 15:27] #98 closed

[2020-11-13 09:15] #84 closed

[2020-11-13 14:47] #96 closed

[2020-11-18 09:14] #93 closed

[2020-12-17 05:03] manish-in-java opened #104 "Session information not fully replicated across a cluster"
I am trying to test Tomcat Session Manager with the following set up:

[code]

Each Tomcat instance is running a Hazelcast instance, with discovery-through -multicast turned on. HAProxy is configured to route requests to the backend Tomcat instances in a round-robin fashion, with no stickiness. I am stuck with a non-sticky set up, as this is how the final environment where I need to deploy my appl

[2020-12-17 07:52] manish-in-java opened #105 "Unable to start Tomcat with Hazelcast Tomcat SessionManager when any application includes cache-api.jar"
## Describe the problem

1. Followed instructions for using Tomcat Session Manager with Tomcat 9 and Hazelcast 4.1
2. Was able to start Tomcat with a blank WAR
3. Added WAR files to Tomcat containing `cache-api.jar`

## Expected result

Tomcat should start successfully.

## Actual result

Tomcat does not start. The following error stacktrace is seen:

[code]

Any help in how to overcome this error

[2020-12-17 11:33] manish-in-java commented on #105
Ok, here is what I have found.

With both `hazelcast-all-4.1.jar` and `cache-api-1.1.1.jar` in `$TOMCAT_HOME/lib`, if I delete the file `META-INF/services/javax.cache.spi.CachingProvider` from `hazelcast-all-4.1.jar`, Tomcat starts fine.

This seems like a classloader problem.

Is it possible to use Tomcat Session Manager with a JAR that does not contain the file `javax.cache.spi.CachingProvider`?

[2020-12-25 03:43] shashank929 opened #106 "tomcat startup failing due to SSL config not getting picked up"
I am trying to use hazelcast-tomcat7-sessionmanager in client-server mode by connecting to hazelcast cluster which is running enterprise version 3.12. I am seeing failure in the server startup due to connection failure which is due to SSL connection not being picked up and is rejected by the hz server. But if you carefully see the logs then you can observe that the second thread hz.client_1 (after

[2021-01-02 20:47] shashank929 commented on #106
Can someone please provide any pointers on this issue as to how loading of ClientExtension works which is not working in my case and hence SSL config is not getting picked up?

[2021-01-04 14:28] alparslanavci commented on #106
Hi @shashank929, could you please let us know how you start two different clients? Are there multiple web deployments under the same Tomcat container?

[2021-01-04 17:42] #73 closed

[2021-01-04 17:49] alparslanavci commented on #91
Fixed accordingly with https://github.com/hazelcast/hazelcast/pull/17239

[2021-01-04 17:49] #91 closed

[2021-01-04 18:02] alparslanavci commented on #104
Hi @manish-in-java, do you still face this issue? With non-sticky sessions, session data is moved all over the cluster every time a new request comes in. Thus your output is not expected. Could you please provide a reproducer?

[2021-01-04 18:04] alparslanavci commented on #104
See this unit test for expected behaviour: https://github.com/hazelcast/hazelcast-tomcat-sessionmanager/blob/master/tomcat-core/src/test/java/com/hazelcast/session/nonsticky/AbstractNonStickySessionsTest.java#L29

[2021-01-05 05:17] manish-in-java commented on #104
Hi @alparslanavci, yes, I am still facing the problem. In fact, I had to drop the idea of using Hazelcast as I faced too many problems using it out of the box. In addition to this issue with Tomcat SessionManager, I ran into another, which I have also reported. I could not get Hazelcast to start on my Windows machine, for which I have reported yet another issue in the Hazelcast repository.

To you

[2021-01-05 15:09] alparslanavci commented on #104
@manish-in-java I tried your example and it is working as expected in my setup. I guess the cluster somehow couldn't be formed up in your environment, thus you couldn't see the replication.

Are there any logs that you can share with us? Then I can investigate and try to help you.

[2021-01-06 05:06] manish-in-java commented on #104
Hi @alparslanavci, please see the screenshots below for the problem I am facing. These show two consecutive requests, sent to two different servers. Both screenshots show the same session ID, confirming that the session exists on both servers. This is also confirmed by `New = false`. However, as can be seen, neither server has all attributes saved to the session. Each server has only those attribu

[2021-01-06 05:12] manish-in-java commented on #85
I am able to start Tomcat 9 with Hazelcast 4.1 and Tomcat9 SessionManager 2.1. I have a sample application at https://drive.google.com/file/d/1dSjgwGyUqJe6cd3-QnytKJf6lvBiFv2L/view?usp=sharing that can be tried.

[2021-01-06 10:44] alparslanavci commented on #104
@manish-in-java Thanks for the detailed explanation. But it looks you hit an expected behaviour. You mention that you used the following configuration in your original (the one you had problems) setup:

[code]

Since sticky sessions are default, this means that you are NOT using **non-sticky sessions** as you mentioned before. When using sticky sessions, sessions do not move around the cluster and

[2021-01-20 11:37] robertoschwald commented on #105
Same problem occurs here with Hazelcast 3.7.8 as (Hibernate) JCache provider and cache-api-1.1.1.jar, both within the application WEB-INF/lib dir.
Tomcat 8.5.35 lib dir contains only the default Tomcat provided libraries plus mariadb-java-client-2.4.4.jar

[code]

[2021-01-30 21:16] borneolang opened #110 "IMap.lock/unlock pairs in HazelcastSessionManager"
For example, we have such code snippet in findSessions:

    sessionMap.lock(id);
    try {
        sessionMap.remove(id);
        sessionMap.set(id, hazelcastSession);
    } finally {
        sessionMap.unlock(id);
    }

What happens if a lock holder dies between lock and ulock (orchestrator can execute `kill -9` )? Maybe map.lock(..) with leaseTime would be better?

[2021-02-01 18:02] shashank929 commented on #106
Hi @alparslanavci , sorry for not responding earlier. I was able to get the hazelcast enterprise support for this and we somehow were able to reproduce the issue and get the [fix](https://github.com/hazelcast/hazelcast/pull/18103) checked-in by them in the hazelcast repo.

[2021-02-03 12:38] alparslanavci commented on #106
@shashank929 thanks for the clarification. Closing the issue.

[2021-02-03 12:38] #106 closed

[2021-03-08 07:59] shashank929 opened #111 "Getting ClassNotFoundException after upgrading from 1.1.3 to 1.1.4/1.1.5"
Hello,

I am trying to use hazelcast-tomcat7-sessionmanager in client-server mode by connecting to hazelcast cluster which is running enterprise version 3.12. I am able to get it running except for a few use-cases where I saw errors related to :

Mar 07, 2021 11:48:27 PM com.hazelcast.session.HazelcastSessionManager findSession
INFO: No Session found for:35003B2FF6F8DDE5374B4A95597DDF08.localhost_

[2021-03-08 09:49] alparslanavci commented on #111
Hi @shashank929, could you please share a reproducer with us? That would help us to investigate the issue easier.

[2021-03-12 17:38] shashank929 commented on #111
Hi @alparslanavci ,

I am able to reproduce this issue by downloading tomcat from this [link](https://archive.apache.org/dist/tomcat/tomcat-7/v7.0.76/bin/apache-tomcat-7.0.76.tar.gz) and then using a custom class to populate the record. The record gets populated fine but the above mentioned error is seen for every class whose object is in the record and that class being in the webapp/lib path.
I m

[2021-03-16 17:40] shashank929 opened #112 "reading JSESSIONID based on context"
I am using the library for my web application which is having multiple JSESSIONID cookies because the data is being fetched via multiple servers behind the scenes. Each of these cookies have their own path. For example for my application hosted at https://sitename.com/abc, two JSESSIONID are sent - one for /abc and one for another context path say /xyz-api.
Based on what I see in the logs of abc a

[2021-03-26 05:32] shashank929 commented on #112
checking to see if you got a chance to look into it

[2021-04-12 06:59] shashank929 opened #113 "Monitoring failures with hazelcast-tomcat-sessionmanager"
We are about to use this library in production and I had some queries for that from monitoring standpoint:

- what is the way to monitor any issues with it like
-  1. connection failing to hz cluster
-  2. any particular log which we can use to track failure to find a particular jsession id
-  3. any log we can monitor for any failure related to read/write to the cluster. I am presuming this will

[2021-04-16 13:01] sertugkaya commented on #113
Answered in ZD 7303 as well

[2021-05-27 15:28] nfrankel commented on #85
@alparslanavci I think this issue can be closed for lack of activity.

[2021-05-27 15:43] nfrankel opened #114 "Add Spring metadata file to describe each configuration parameter"
Here's how it appears in IntelliJ IDEA:

<img width="1100" alt="IntelliJ IDEA screenshot" src="https://user-images.githubusercontent.com/752258/119856494-09861c80-bf13-11eb-8d64-f8aebf1c83d4.png">

[2021-06-01 18:54] PStoner3 opened #116 "Hazelcast Tomcat Session Manager does not work with Tomcat 10"
I am testing Tomcat version 10.0.6. The plugin does not work on Tomcat 10 with the following error:

[code]

The issue lies in tomcat-core the HazelcastSessionCommitValve. This imports javax.servlet.ServletException. Tomcat 10 is build for servlet spec 5 and has renamed changed root package names from `javax.servlet` to `jakarta.servlet`.

I will attempt to fork the project and make the necessary

[2021-12-09 12:08] rik-overvelde opened #119 "Error (sometimes) occurs while deserializing the session.notes"
Hello,

I'm trying to get Hazelcast session replication up and running for an existing application running under tomcat9. I'm using the hazelcast-tomcat9-sessionmanager, with sticky="false".
However, I sometimes get an issue where a session can no longer be deserialized because of the ofllowing error:
com.hazelcast.nio.serialization.HazelcastSerializationException: Problem while reading DataSerial

[2022-04-11 07:27] vishalrane opened #121 "hazelcast-tomcat-sessionmanager update to Hazelcast 5.0"
I can see development branch has changes to Hazelcast 5.0, what is the plan to release this?